body {
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 25px;
    max-width: 900px;
    margin: 30px auto;
    font-size: 20px;
}

.last-updated {
    text-align: center;
    color: #BBBBBB;
    font-size: 16px;
    margin-bottom: 20px;
}

.status-card {
    background-color: #2c2c2c;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 18px;
}

.status-card h2 {
    color: #BB86FC;
    font-size: 24px;
    margin-top: 0px;
    text-align: center;
}

.status-card p {
    font-size: 20px;
    color: #e0e0e0;
}

.section-header {
    color: #BB86FC;
    font-size: 26px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    font-size: 20px;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .status-card {
        width: 90%;
        position: static;
        margin: 20px auto;
    }

    .container {
        margin: 20px;
    }
}
#yama-not
{
    text-align: center;
    font-size: 40px;
}
